@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Roboto Slab", serif;
     font-optical-sizing: auto;
     font-style: normal;
}
a {
     color: purple;
     text-decoration: underline;
}
a:hover {
     cursor: pointer;
}
body {
     background: grey;
     margin: 0 auto ;
     max-width: 1000px;
}

header {
     padding: 20px;
}
nav {
     display: flex;
     gap: 10px;
     padding: 10px 20px;
}
table {
     width: 100%;
     border-spacing:0;
     border-collapse: collapse;
}
table tr th {
     text-align: left;
     padding: 10px 0px 10px 0px;
}
table tr td {
     padding: 10px 10px 10px 0px;
}
table tbody tr:not(:last-child) {
     border-bottom: 1px dashed darkgray;
}
table thead tr {
     border-bottom: 1px solid black;
}
table tbody tr td:first-child {
     width: 35%;
}
table tbody tr td:nth-child(2) {
     width: 35%;
}
table tbody tr td:last-child {
     display: flex;
     gap: 10px;
}
main {
     padding: 20px;
}
.block:nth-child(2) {
     padding: 20px 0px 0px 0px;
}
.block:nth-child(2) table tbody tr td:last-child {
     display: flex;
     align-content: flex-start;
     justify-content: flex-start;
}

form {
     padding: 10px;
     display: flex;
     flex-flow: column;
     gap: 10px;
}
form span {
     color: white;
}

#playerForm, #matchForm {
     border: 1px solid black ;
     position: fixed;
     z-index: 9;
     background-color: #1d1e20;
     text-align: center;
     top: 50px;
     left: 50px;
     display: none;
}

#playerFormheader, #matchFormheader {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     cursor: move;
     z-index: 10;
     background-color: rgb(41,42,47);
     color: #fff;
}
.statistics {
     display: flex;
}
.statblock {
     width: 50%;
     text-align: center;
}